* {
  margin: 0px;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
}
body {
  background: #f1f1f1;
}
#root {
  width: 100%;
  height: 100%;
}
/* Contenedor de la App */
.container {
  padding-bottom: 80px;
}
/* El header */
.header {
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
  color: #f1f1f1;
  background: #3367d6;
  padding: 40px;
}

.producto {
  color: #adadad;
  padding: 40px;
  margin: 20px;
  background: #fff;
  border: solid 1px #e9e9e9;
  cursor: pointer;
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.1);
  transition: transform .2s ease;
}
.producto:hover {
  transform: scale(1.02);
}

.precio {
  color: #242121;
  padding: 4px;
  margin: 10px;
  border-radius: 5px;
  background: rgb(116, 170, 94);
  border: solid 1px #e9e9e9;
  cursor: pointer;
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.1);
  transition: transform .2s ease;
}
.precio:hover {
  transform: scale(1.02);
}

.btn {
  z-index: 1;
  right: 40px;
  bottom: 40px;
  width: 100px;
  height: 40px;
  border-radius: 10%;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  font-weight: bold;
  color: #f1f1f1;
  background: #3367d6;
  cursor: pointer;
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.8);
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.8);
  transition: transform .06s ease;
}
.btn:hover {
  transform: scale(1.2);
}
.contador{
  position: fixed;
  z-index: 1;
  right: 40px;
  bottom: 40px;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  text-align: center;
  line-height: 80px;
  font-size: 28px;
  font-weight: bold;
  color: #f1f1f1;
  background: #3367d6;
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.8);
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.8);
  transition: transform .06s ease;
}

.textInput {
  width: 60%;
  height: 40px;
  line-height: 80px;
  padding: 0 20px;
  border: 1px solid green;
  margin: 1%;
  outline: none;
  background: #dcdee2;
  font-size: 16px;
  color: #f1f1f1;
}