* {
  margin: 0px;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
}
body {
  background: #f1f1f1;
}
#root {
  width: 100%;
  height: 100%;
}
/* Contenedor de la App */
.container {
  padding-bottom: 80px;
}
/* El header */
.header {
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
  color: #f1f1f1;
  background: #3367d6;
  padding: 40px;
}
